<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/static/stylesheets/coursesIndex.css" />
<h1 class="h1 text-center h1Title">ολα τα μαθηματα</h1>

<% for(let i=0;i<courses.length;i+=4){%>
  <div class="container">
    <% if(i===courses.length) break %>
    <article class="card bgDark blue">
      <a class="card-img-link" href="/courses/<%= courses[i]._id %>">
        <img
          class="card-img"
          src="<%=courses[i].images[0].url %>"
          alt="Image Title"
        />
      </a>
      <div class="card-text">
        <h1 class="card-title blue">
          <a href="/courses/<%= courses[i]._id %>"><%= courses[i].title %> </a>
        </h1>
        <div class="card-subtitle small">
          <time >
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="card-bar"></div>
        <div class="card-preview-txt mb-5">
          <%= courses[i].description %> 
        </div>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="card-tagbox">
          <li class="tag-item play blue">
            <a href="/courses/<%= courses[i]._id %> "><i class="fas fa-folder-open mr-2"></i>  Δείτε το Μάθημα</a>
          </li>
        </ul>
      </div>
    </article>
    <% if(i+1===courses.length) break %>
    <article class="card dark red">
      <a class="card-img-link" href="/courses/<%= courses[i+1]._id %>">
        <img
          class="card-img"
          src="<%=courses[i+1].images[0].url %>"
          alt="Image Title"
        />
      </a>
      <div class="card-text">
        <h1 class="card-title red">
          <a href="/courses/<%= courses[i+1]._id %>"><%= courses[i+1].title %></a>
        </h1>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i+1].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="card-bar"></div>
        <div class="card-preview-txt mb-5">
          <%= courses[i+1].description %> 
        </div>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i+1].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="card-tagbox">
          <li class="tag-item play red">
            <a href="/courses/<%= courses[i+1]._id %> "><i class="fas fa-folder-open mr-2"></i>  Δείτε το Μάθημα</a>
          </li>
        </ul>
      </div>
    </article>
    <% if(i+2===courses.length) break %>
    <article class="card dark green">
      <a class="card-img-link" href="/courses/<%= courses[i+2]._id %>">
        <img
          class="card-img"
          src="<%=courses[i+2].images[0].url %>"
          alt="Image Title"
        />
      </a>
      <div class="card-text">
        <h1 class="card-title green">
          <a href="/courses/<%= courses[i+2]._id %>"><%= courses[i+2].title %></a>
        </h1>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i+2].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="card-bar"></div>
        <div class="card-preview-txt mb-5">
          <%= courses[i+2].description %> 
        </div>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i+2].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="card-tagbox">
          <li class="tag-item play green">
            <a href="/courses/<%= courses[i+2]._id %> "><i class="fas fa-folder-open mr-2"></i>  Δείτε το Μάθημα</a>
          </li>
        </ul>
      </div>
    </article>
    <% if(i+3===courses.length) break %>
    <article class="card dark yellow">
      <a class="card-img-link" href="/courses/<%= courses[i+3]._id %>">
        <img
          class="card-img"
          src="<%=courses[i+3].images[0].url %>"
          alt="Image Title"
        />
      </a>
      <div class="card-text">
        <h1 class="card-title yellow">
          <a href="/courses/<%= courses[i+3]._id %>"><%= courses[i+3].title %></a>
        </h1>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i+3].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="card-bar"></div>
        <div class="card-preview-txt mb-5">
          <%= courses[i+3].description %> 
        </div>
        <div class="card-subtitle small">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i+3].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="card-tagbox">
          <li class="tag-item play yellow">
            <a href="/courses/<%= courses[i+3]._id %> "><i class="fas fa-folder-open mr-2"></i>  Δείτε το Μάθημα</a>
          </li>
        </ul>
      </div>
    </article>
  </div>

  <% } %>

