<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/static/stylesheets/coursesIndex.css" />

<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" 
  type="text/css">
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
    rel="stylesheet"
  />

<h1 class="h1 text-center h1Title">χρηστες</h1>
<div id='map' style='width: 100%; height:700px;'></div>

<h1 class="h1 text-center h1Title">ομαδες</h1>

<% function containsObject(id, list) {
    for(let i=0;i<list.length;i++){
      if(list[i].equals(id)) return true;
    }
      return false;
  } %> 

<% for(let i=0;i<courses.length;i+=4){%>
  <div class="container">
    <% if(i===courses.length) break %>
    <article class="card bg redCard">
      <a class="cardImgLink" href="/courses/<%= courses[i]._id %>">
        <img
          class="cardImg"
          src="<%=courses[i].images.url %>"
          alt="Image Title"
        />
      </a>
      <div class="cardContent">
        <h1 class="cardTitle redCard">
          <a href="/courses/<%= courses[i]._id %>"><%= courses[i].title %></a>
        </h1>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="cardUnderline"></div>
        <div class="cardDescription mb-5">
          <%= courses[i].description %> 
        </div>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="cardCrud">
          <li class="me-2 cardCrudIcon play greenCard">
            <a href="/courses/<%= courses[i]._id %> "><i class="fas fa-solid fa-folder-open mr-2"></i>  Δείτε την Ομάδα</a>
          </li>
          <% if(loggedUser && !containsObject(loggedUser._id,courses[i].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/join/<%= courses[i]._id %> "><i class="fas fa-solid fa-person-walking-arrow-right mr-2"></i>  Εγγραφή στην Ομάδα</a>
            </li>
            <% } %> 
          <% if(loggedUser && containsObject(loggedUser._id,courses[i].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/delete/<%= courses[i]._id %> "><i class="fas fa-solid fa-trash-can mr-2"></i>  Διαγραφή από την Ομάδα</a>
            </li>
          <% } %> 
        </ul>
      </div>
    </article>
    <% if(i+1===courses.length) break %>
    <article class="card bg blueCard">
      <a class="cardImgLink" href="/courses/<%= courses[i+1]._id %>">
        <img
          class="cardImg"
          src="<%=courses[i+1].images.url %>"
          alt="Image Title"
        />
      </a>
      <div class="cardContent">
        <h1 class="cardTitle blueCard">
          <a href="/courses/<%= courses[i+1]._id %>"><%= courses[i+1].title %> </a>
        </h1>
        <div class="card-subtitle">
          <time >
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i+1].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="cardUnderline"></div>
        <div class="cardDescription mb-5">
          <%= courses[i+1].description %> 
        </div>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i+1].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="cardCrud">
          <li class="me-2 cardCrudIcon play greenCard">
            <a href="/courses/<%= courses[i+1]._id %> "><i class="fas fa-solid fa-folder-open mr-2"></i>  Δείτε την Ομάδα</a>
          </li>
          <% if(loggedUser && !containsObject(loggedUser._id,courses[i+1].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/join/<%= courses[i+1]._id %> "><i class="fas fa-solid fa-person-walking-arrow-right mr-2"></i>  Εγγραφή στην Ομάδα</a>
            </li>
            <% } %> 
          <% if(loggedUser && containsObject(loggedUser._id,courses[i+1].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/delete/<%= courses[i+1]._id %> "><i class="fas fa-solid fa-trash-can mr-2"></i>  Διαγραφή από την Ομάδα</a>
            </li>
          <% } %> 
        </ul>
      </div>
    </article>
    <% if(i+2===courses.length) break %>
    <article class="card bg greenCard">
      <a class="cardImgLink" href="/courses/<%= courses[i+2]._id %>">
        <img
          class="cardImg"
          src="<%=courses[i+2].images.url %>"
          alt="Image Title"
        />
      </a>
      <div class="cardContent">
        <h1 class="cardTitle greenCard">
          <a href="/courses/<%= courses[i+2]._id %>"><%= courses[i+2].title %></a>
        </h1>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i+2].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="cardUnderline"></div>
        <div class="cardDescription mb-5">
          <%= courses[i+2].description %> 
        </div>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i+2].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="cardCrud">
          <li class="me-2 cardCrudIcon play greenCard">
            <a href="/courses/<%= courses[i+2]._id %> "><i class="fas fa-solid fa-folder-open mr-2"></i>  Δείτε την Ομάδα</a>
          </li>
          <% if(loggedUser && !containsObject(loggedUser._id,courses[i+2].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/join/<%= courses[i+2]._id %> "><i class="fas fa-solid fa-person-walking-arrow-right mr-2"></i>  Εγγραφή στην Ομάδα</a>
            </li>
            <% } %> 
          <% if(loggedUser && containsObject(loggedUser._id,courses[i+2].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/delete/<%= courses[i+2]._id %> "><i class="fas fa-solid fa-trash-can mr-2"></i>  Διαγραφή από την Ομάδα</a>
            </li>
          <% } %> 
        </ul>
      </div>
    </article>
    <% if(i+3===courses.length) break %>
    <article class="card bg yellowCard">
      <a class="cardImgLink" href="/courses/<%= courses[i+3]._id %>">
        <img
          class="cardImg"
          src="<%=courses[i+3].images.url %>"
          alt="Image Title"
        />
      </a>
      <div class="cardContent">
        <h1 class="cardTitle yellowCard">
          <a href="/courses/<%= courses[i+3]._id %>"><%= courses[i+3].title %></a>
        </h1>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-person-digging mr-2"></i>  Δημιουργήθηκε <%= courses[i+3].created.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <div class="cardUnderline"></div>
        <div class="cardDescription mb-5">
          <%= courses[i+3].description %> 
        </div>
        <div class="card-subtitle">
          <time>
            <i class="fas fa-calendar-check mr-2"></i>  Τελευταία ενημέρωση <%= courses[i+3].lastActive.toLocaleDateString('el-GR', {  weekday: 'long',year: 'numeric', month: 'long', day: 'numeric' }) %> 
          </time>
        </div>
        <ul class="cardCrud">
          <li class="me-2 cardCrudIcon play greenCard">
            <a href="/courses/<%= courses[i+3]._id %> "><i class="fas fa-solid fa-folder-open mr-2"></i>  Δείτε την Ομάδα</a>
          </li>
          <% if(loggedUser && !containsObject(loggedUser._id,courses[i+3].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/join/<%= courses[i+3]._id %> "><i class="fas fa-solid fa-person-walking-arrow-right mr-2"></i>  Εγγραφή στην Ομάδα</a>
            </li>
            <% } %> 
          <% if(loggedUser && containsObject(loggedUser._id,courses[i+3].members)){ %> 
            <li class="me-2 cardCrudIcon play yellowCard">
              <a href="/courses/delete/<%= courses[i+3]._id %> "><i class="fas fa-solid fa-trash-can mr-2"></i>  Διαγραφή από την Ομάδα</a>
            </li>
          <% } %> 
        </ul>
      </div>
    </article>
  </div>

  <% } %>

  <script>
    const mapboxToken = "<%- process.env.MAPBOX_TOKEN %>"
    const allUsers = {features:<%- JSON.stringify(users) %> }
  </script>
<script src="static/javascripts/coursesIndex.js"></script>
