<%- layout('layouts/boilerplate') %>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
  type="text/css"
/>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/static/stylesheets/show.css" />
<div className="article-body ">
  <header
    style="
      background-image: url('<%= course.images.url %>');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <h1 class="mx-auto imgTitle my-5"><%= course.title %></h1>
  </header>
  <main class="main">
    <h1 class="h1Title">χρηστες ομαδας</h1>
    <div id="map" style="width: 100%; height: 700px"></div>
  </main>
</div>

<script>
  const mapboxToken = "<%- process.env.MAPBOX_TOKEN %>"
  const allUsers = {features:<%- JSON.stringify(course.members) %> }
</script>
<script src="/static/javascripts/show.js"></script>
