<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if(topic){ %>
    <title><%= topic %></title>
    <% } %>
    <link rel="icon" href="/static/logos/book.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <% if(calendar){ %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <% } %>
  </head>
  <body class="bgDark">
    <%- include("../partials/navbar")%>
    <main class=""><%- include('../partials/flash')%> <%- body %></main>
    <%- include("../partials/footer") %>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="static/javascripts/validateForm.js"></script>
    <script
      src="https://kit.fontawesome.com/4077119121.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
