<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%if(typeof topic !== "undefined") {%>
    <title><%= topic %></title>
    <% } %>

    <link rel="icon" href="/static/logos/book.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  </head>
  <body class="bgDark">
    <%- include("../partials/navbar") %>
    <main><%- include('../partials/flash')%> <%- body %></main>
    <%- include("../partials/footer") %>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/javascripts/validateForm.js"></script>
    <script
      src="https://kit.fontawesome.com/4077119121.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
