<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/static/stylesheets/edit.css" />
<div class="container my-5">
  <nav class="nav nav-borders">
    <a class="navLink ms-0" href="/edit">Προφίλ</a>
    <a class="navLink active" href="#">Εργασίες</a>
  </nav>
  <h2 class="h1Title">Εργασιες</h2>
  <div class="container mb-5">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row flex-lg-nowrap">
          <div class="col mb-3">
            <div class="card-body footerBg container">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered white">
                  <thead>
                    <tr>
                      <th class="center white">Τύπος Αρχείου</th>
                      <th class="center white">Όνομα</th>
                      <th class="center white">Ημερομηνία</th>
                      <th class="center white">Ορατό σε όλους</th>
                      <th class="center white">Ενέργεις</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0;i<loggedUser.assignments.length;i++){%>
                    <tr>
                      <td class="center">
                        <div
                          class="bg-light d-inline-flex justify-content-center align-items-center align-top"
                          style="width: 40px; height: 40px; border-radius: 3px"
                        >
                          <% if(loggedUser.assignments[i].filetype === "pdf"){%>
                          <i class="dark fileType fa-regular fa-file-pdf"></i>
                          <% }else if(loggedUser.assignments[i].filetype ===
                          "ppt" || loggedUser.assignments[i].filetype
                          ==="pptx"){ %>
                          <i
                            class="dark fileType fa-regular fa-file-powerpoint"
                          ></i>
                          <% }else if(loggedUser.assignments[i].filetype ===
                          "doc" || loggedUser.assignments[i].filetype ===
                          "docx"){ %>
                          <i class="dark fileType fa-regular fa-file-word"></i>
                          <% }else if(loggedUser.assignments[i].filetype ===
                          "txt"){ %>
                          <i class="dark fileType fa-regular fa-file-lines"></i>
                          <% }else if(loggedUser.assignments[i].filetype ===
                          "jpeg" || loggedUser.assignments[i].filetype === "png"
                          || loggedUser.assignments[i].filetype === "gif"){ %>
                          <i class="dark fileType fa-regular fa-file-image"></i>
                          <% }else{ %>
                          <i class="dark fileType fa-regular fa-file"></i>
                          <% } %>
                        </div>
                      </td>
                      <% loggedUser.assignments[i].filename.substring(0,
                      loggedUser.assignments[i].filename.indexOf('-')); %>
                      <td class="center white">
                        <div id="modalContainer">
                        <button type="button" id="modalBtn<%= i %>" class="button">
                          <%=
                          loggedUser.assignments[i].filename.substring(loggedUser.assignments[i].filename.indexOf('-')
                          + 1); %>
                        </button>

                        <div id="myModal<%= i %>" class="fileModal">
                          <div class="fileModalContent">
                            <span class="close">&times;</span>
                            <p>
                              <% if(loggedUser.assignments[i].filetype === "pdf" || loggedUser.assignments[i].filetype ===
                          "jpeg" || loggedUser.assignments[i].filetype === "png"
                          || loggedUser.assignments[i].filetype === "gif" || loggedUser.assignments[i].filetype ===
                          "txt"){ %>
                              <embed
                                width="100%"
                                height="700px"
                                frameborder='0'
                                src="<%= loggedUser.assignments[i].path %>"></embed>

                              <% }else{ %>
                                <embed
                                width="100%"
                                height="700px"
                                frameborder='0' 
                                src="https://view.officeapps.live.com/op/embed.aspx?src=<%= loggedUser.assignments[i].path %>"></embed>
                              <% } %>
                            </p>
                          </div>
                          </div>
                        </div>
                      </td>

                      <td class="center">
                        <span class="white"
                          ><%=
                          loggedUser.assignments[i].submitted.toLocaleDateString('el-GR',
                          { year: 'numeric', month: 'long', day:
                          'numeric' }) %>
                        </span>
                      </td>

                      <td class="center">
                        <div
                          class="centerSwitch centerSwitch form-check form-switch"
                        >
                          <input
                            id="switch<%= i %>"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            <%= loggedUser.assignments[i].visible ? "checked" : ""%>
                          />
                        </div>
                      </td>
                      <td class="center">
                        <div class="btn-group">
                          <a
                            target="_blank"
                            class="btn btn-outline-secondary"
                            type="button"
                            href="<%= loggedUser.assignments[i].path%>"
                            download="<%=loggedUser.assignments[i].filename.substring(loggedUser.assignments[i].filename.indexOf('-')
                          + 1)%>"
                          >
                          <i class="fa-solid fa-download"></i>
                          </a>
                        <form action="/deleteAssignment/<%= i %>" method="post">
                          <button
                            id="deleteBtn"
                            class="btn btn-outline-secondary"
                            type="submit"
                          >
                            <i class="fa-regular fa-trash-can"></i>
                          </button>
                        </form>
                        </div>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h2 class="h1Title">Ανεβασμα εργασιων</h2>
  <div class="center upload-container">
  <form
    id="assignmentForm"
    method="POST"
    enctype="multipart/form-data"
    action="/assignmentUpload"
  >
    <input type="file" name="file" id="file" />
    <br>
    <button id="assignmentButton" class="mt-4 btn btn-success submitBtn" type="submit" accept-charset="UTF-8">
      Ανέβασμα Αρχείου
    </button>
  </div>
  </form>
  </div>
<script src="/static/javascripts/editAssignments.js"></script>
